html {
    background-color: rgb(247, 244, 240);
}

body {
    font-family: serif;
    margin: 0% 22.6%;
}

div {
    font-size: 20px;
}

.ss {
    color: blue;
    vertical-align: super;
    font-size: 15px;
}

.ss2 {
    font-size: 15px;
}

h1 {
    font-size: 50px;
}