html {
    background-color: rgb(252, 241, 228);
}

.content {
    position: relative;
    left: 280px;
    top: 140px;
    width: 800px;
    height: 300px;
    perspective: 2500px;  /*створки открываются внутрь и без увеличения масштаба (2500рх). Без этого свойства двери открываются как в лифте*/
    
}

p {
    position: absolute;
    left: 360px;
    top: 110px;
    font-size: 25px;
    font-weight: bold;
}

.door1 {
    position: absolute;
    left: auto;
    top: auto;
    width: 391px;
    height: 291px;
    border: 5px solid rgb(83, 6, 25);
    background-color: rgb(102, 3, 3);
    z-index: 1;

}

.door2 {
    position: absolute;
    left: 400px;
    top: 0px;
    width: 391px;
    height: 291px;
    border: 5px solid rgb(83, 6, 25);
    background-color: rgb(102, 3, 3);
    z-index: 1;

}

 .content:hover .door1 {  /* открываются сразу обе створки */
    transform: rotateY(60deg);
    transition-duration: 2s;
}

.content:hover .door2 {  
    transform: rotateY(-60deg); 
    transition-duration: 2s;
}


